.contact-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 40%;
    background: linear-gradient(90deg, #ffde59, #ff914d);
    margin-top: 20px;
    border-radius: 15px;
    margin-right: 2.5%;
}