html {
    background: linear-gradient(90deg, #B0C9D9, #F2B5A7);
}

#root{
  margin: 0;
  padding: 0;
  font-family: "Share Tech", sans-serif;
}

main{
  position: relative;
  z-index: 1;
  display: flex;  
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

main::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/halftone_effect.png");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: -1;
}

.link-clean {
  text-decoration: none;
  color: inherit;
}