#root{
  margin: 0;
  padding: 0;
  font-family: Consolas, "Courier New", monospace;

}
main{
  position: "relative";
  z-index: 1;
}
canvas {
  width:100%;
  height:100%;
  display:block;
}

.link-clean {
  text-decoration: none;
  color: inherit;
}